
<html>
    <head> 
        <title>IBW_NoWBS_bot</title> 
    </head>
    <body>
        <h1>
            Status page of flat parsing bot . 
        </h1>
            Server time is CET. Log is getting cleaned every +/- 50 min.<br> 
            Best way to check: refresh in 30 seconds to see if size of the flat_bot_log.txt file changed. File size now is: {{size}} bytes.
        <h2>
            log.txt file contents:
        </h2>
            {%for elem in file_contents %}
                <br>{{elem}}</br>
            {%endfor%}
    </body>
</html>
    