<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
     <link rel="stylesheet" href = '/static/style.css' />    
     <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"> </script>
    </head>
    <body>
        <header>
            <div class="container">
              <h1 class="logo">Market indicators overview</h1>
              <strong><nav>
                <ul class="menu">
                  <li><a href="/flats">Flat bot status</a></li>
                  <li><a href="/indicators">Indicator bot status</a></li>
                </ul>
              </nav></strong>
            </div>
        </header>
          <div class="container">
            
            <!-- Crack spread -->
            <div id="indicator_title">
              <b>Crack Spread</b>
            </div>
            <p>
              <div id="current_indicator">
              Value: <b> {{ current_CS_val }} </b>, fetched on {{ current_CS_date }}</div> <br>
              <div id="previous_indicator">
              Previous: {{ prev_CS_val }}, fetched on {{ prev_CS_date }}. The trend is {{ CStrend }}. </div>
            </p>
            <canvas id="CrackSpreadChart" width="600" height="250"></canvas>
            <script>
              var CSctx = document.getElementById('CrackSpreadChart').getContext('2d');
              var CrackSpreadChart = new Chart(CSctx, {
                type: 'line',
                data: {
                  labels: {{ CSlabels | safe }},
                  datasets: [
                    {
                      label: "crack spread value",
                      data: {{ CSvalues | safe }},
                      fill: false,
                      borderColor: 'rgb(75,192,192)',
                      lineTension: 0.1
                    }
                  ]
                },
                options: {
                 responsive: false 
                }
              });
            </script>
            <div id="wifey_advice">
              Value high - rafination more profitable, raffineries should make more profit in near future. Buy raffineries' stocks.<br>
              Value low - the opposite.
            </div>
            <div class="horizontal_line"></div>

             <!-- Libor rate -->
             <div id="indicator_title">
              <b>Libor</b>
            </div>
            <p>
              <div id="current_indicator">
              Value: <b> {{ current_libor_val }}% </b>, fetched on {{ current_libor_date }}</div> <br>
              <div id="previous_indicator">
              Previous: {{ prev_libor_val }}%, fetched on {{ prev_libor_date }}. The trend is {{ libortrend }}. </div>
            </p>
            <canvas id="liborChart" width="600" height="250"></canvas>
            <script>
              var liborctx = document.getElementById('liborChart').getContext('2d');
              var liborChart = new Chart(liborctx, {
                type: 'line',
                data: {
                  labels: {{ liborLabels | safe }},
                  datasets: [
                    {
                      label: "libor rate value",
                      data: {{ liborValues | safe }},
                      fill: false,
                      borderColor: 'rgb(75,192,192)',
                      lineTension: 0.1
                    }
                  ]
                },
                options: {
                 responsive: false 
                }
              });
            </script>
            <div id="wifey_advice">
              Value rises - buy stocks.<br>
              Value falls - buy cash.
            </div>
            <div class="horizontal_line"></div>

            <!-- M2MS rate -->
            <div id="indicator_title">
              <b>M2 money supply rate</b>
            </div>
            <p>
              <div id="current_indicator">
              Value: <b> {{ current_m2MS_val }} </b>, fetched on {{ current_m2MS_date }}</div> <br>
              <div id="previous_indicator">
              Previous: {{ prev_m2MS_val }}, fetched on {{ prev_m2MS_date }}. The trend is {{ m2MStrend }}. </div>
            </p>
            <canvas id="m2MSChart" width="600" height="250"></canvas>
            <script>
              var m2MSctx = document.getElementById('m2MSChart').getContext('2d');
              var m2MSChart = new Chart(m2MSctx, {
                type: 'line',
                data: {
                  labels: {{ m2MSLabels | safe }},
                  datasets: [
                    {
                      label: "M2 money supply value",
                      data: {{ m2MSValues | safe }},
                      fill: false,
                      borderColor: 'rgb(75,192,192)',
                      lineTension: 0.1
                    }
                  ]
                },
                options: {
                 responsive: false 
                }
              });
            </script>
            <div id="wifey_advice">
              Value rises - buy stocks.<br>
              Value falls - buy cash.
            </div>
            <div class="horizontal_line"></div>
                      
            <!-- new homes sales rate -->
            <div id="indicator_title">
              <b>New homes sales</b>
            </div>
            <p>
              <div id="current_indicator">
              Value: <b> {{ current_new_homes_sales_val }} </b>, fetched on {{ current_new_homes_sales_date }}</div> <br>
              <div id="previous_indicator">
              Previous: {{ prev_new_homes_sales_val }}, fetched on {{ prev_new_homes_sales_date }}. The trend is {{ new_homes_salestrend }}. </div>
            </p>
            <canvas id="new_homes_salesChart" width="600" height="250"></canvas>
            <script>
              var new_homes_salesctx = document.getElementById('new_homes_salesChart').getContext('2d');
              var new_homes_salesChart = new Chart(new_homes_salesctx, {
                type: 'line',
                data: {
                  labels: {{ new_homes_salesLabels | safe }},
                  datasets: [
                    {
                      label: "M2 money supply value",
                      data: {{ new_homes_salesValues | safe }},
                      fill: false,
                      borderColor: 'rgb(75,192,192)',
                      lineTension: 0.1
                    }
                  ]
                },
                options: {
                  responsive: false 
                }
              });
            </script>
            <div id="wifey_advice">
              Value rises - buy ETFs and stocks of construction companies.<br>
              Value falls - sell ETFs, stocks of construction companies.
            </div>
            <div class="horizontal_line"></div>
            
            <!-- real interest rate -->
            <div id="indicator_title">
              <b>10 Year real interest rate</b>
            </div>
            <p>
              <div id="current_indicator">
              Value: <b> {{ current_real_interest_rate_val }} </b>, fetched on {{ current_real_interest_rate_date }}</div> <br>
              <div id="previous_indicator">
              Previous: {{ prev_real_interest_rate_val }}, fetched on {{ prev_real_interest_rate_date }}. The trend is {{ real_interest_ratetrend }}. </div>
            </p>
            <canvas id="real_interest_rateChart" width="600" height="250"></canvas>
            <script>
              var real_interest_ratectx = document.getElementById('real_interest_rateChart').getContext('2d');
              var real_interest_rateChart = new Chart(real_interest_ratectx, {
                type: 'line',
                data: {
                  labels: {{ real_interest_rateLabels | safe }},
                  datasets: [
                    {
                      label: "10y real interest rate",
                      data: {{ real_interest_rateValues | safe }},
                      fill: false,
                      borderColor: 'rgb(75,192,192)',
                      lineTension: 0.1
                    }
                  ]
                },
                options: {
                  responsive: false 
                }
              });
            </script>
            <div id="wifey_advice">
              Value rises - economy slows down, buy bonds.<br>
              Value falls - economy speeds up, buy hard assets.
            </div>
            <div class="horizontal_line"></div>
            
            <!-- Federal fund rate -->
            <div id="indicator_title">
              <b>Federal fund rate</b>
            </div>
            <p>
              <div id="current_indicator">
              Value: <b> {{ current_FFR_val }} </b>, fetched on {{ current_FFR_date }}</div> <br>
              <div id="previous_indicator">
              Previous: {{ prev_FFR_val }}, fetched on {{ prev_FFR_date }}. The trend is {{ FFRtrend }}. </div>
            </p>
            <canvas id="federalFundRateChart" width="600" height="250"></canvas>
            <script>
              var FFRctx = document.getElementById('federalFundRateChart').getContext('2d');
              var federalFundRateChart = new Chart(FFRctx, {
                type: 'line',
                data: {
                  labels: {{ FFRlabels | safe }},
                  datasets: [
                    {
                      label: "federal fund rate value",
                      data: {{ FFRvalues | safe }},
                      fill: false,
                      borderColor: 'rgb(75,192,192)',
                      lineTension: 0.1
                    }
                  ]
                },
                options: {
                 responsive: false 
                }
              });
            </script>
            <div id="wifey_advice">
              Value high - buy bonds, get cash.<br>
              Value low - buy stocks.
            </div>
            <div class="horizontal_line"></div>

            <!-- Fertility rate -->
            <div id="indicator_title">
              <b>Fertility rate</b>
            </div>
            <p>
              <div id="current_indicator">
              Value: <b> {{ current_fertility_val }} </b>, fetched on {{ current_fertility_date }}</div> <br>
              <div id="previous_indicator">
              Previous: {{ prev_fertility_val }}, fetched on {{ prev_fertility_date }}. The trend is {{ fertilitytrend }}. </div>
            </p>
            <canvas id="fertilityChart" width="600" height="250"></canvas>
            <script>
              var Fertilityctx = document.getElementById('fertilityChart').getContext('2d');
              var fertilityChart = new Chart(Fertilityctx, {
                type: 'line',
                data: {
                  labels: {{ fertilityLabels | safe }},
                  datasets: [
                    {
                      label: "fertility rate value",
                      data: {{ fertilityValues | safe }},
                      fill: false,
                      borderColor: 'rgb(75,192,192)',
                      lineTension: 0.1
                    }
                  ]
                },
                options: {
                 responsive: false 
                }
              });
            </script>
            <div id="wifey_advice">
              Value rises - buy stock of kindergartens, toy porducers etc.<br>
              Value falls - people have less children. Buy stock of nursery homes.
            </div>
            <div class="horizontal_line"></div>
            
            <div id="indicator_title">
              comming soon...
            </div>
          </div>
    </body>
</html>
