<html>
    <body>
        <h1>
            Market indicators bot status page.
        </h1>
            Best way to check: refresh next day to see if size of the indicator_bot_log.txt file changed. File size now is: {{size}} bytes.
        <h2>
            indicator_bot_log.txt file contents:
        </h2>
            {%for elem in file_contents %}
                <br>{{elem}}</br>
            {%endfor%}
    </body>
</html>